@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.app {
  width: 100%;
  max-width: 1300px;
  padding: 20px 40px;
}
.app.app-instagram {
  max-width: 760px;
}
canvas {
  display: block;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin: 0 auto;
  color: #eecc5d;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: rgb(57, 98, 133);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(36, 62, 85);
}

.video {
  background: #000;
}
