@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  color: #fff;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app {
  width: 100%;
  padding: 20px 40px;
}
canvas {
  display: block;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin: 0 auto;
  color: #eecc5d;
}
